* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
  background-color: #ebebeb;
}

header {
  background-color: #eac926;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
footer {
  margin-top: 20px;
  text-align: center;
  background-color: white;
  font-size: 16px;
  padding: 7%;
  margin: auto;
}

main {
  align-content: center;
  text-align: center;
  width: 90vw;
  margin: auto;
  margin-top: 214px;
  z-index: -1;
}

.logo {
  width: 50%;
  flex-grow: 0.5;
}
.foto-producto {
  width: 60%;
}
.compra-cuotas {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin: 5%;
}
.busqueda {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding-left: 50px;
}
.titulares {
  font-size: 24px;
  color: #666;
  text-align: justify;
  padding-left: 3%;
  margin: 20px 0;
}

.precios {
  font-size: 18px;
  text-align: left;
  margin: auto;
  flex-grow: 0.3;
}

.cuerpos-texto {
  margin: 0;
  font-size: 12px;
}

.descuentos {
  color: #39b54a;
  font-size: 16px;
  text-align: left;
  margin: auto;
  flex-grow: 0.7;
}
.cabecera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}
.cabecera form {
  margin: 0;
  margin-left: 10%;
}
.descripciones {
  font-size: 16px;
  text-align: left;
  margin: 15px 0;
  font-weight: 700;
  color: #666;
  opacity: 0;
}
.descripciones:hover {
  opacity: 1;
  height: 0;
}
.centrar {
  text-align: center;
  align-content: center;
}

.iconos-footer {
  color: #1259c3;
  width: 2em;
  text-align: center;
  margin: 0;
}

.texto-articulo {
  border-top: #ebebeb solid 1px;
  padding-top: 5%;
  position: relative;
  z-index: 1;
}

.copy {
  text-align: left;
  font-size: 12px;
  margin-top: 30px;
}

.hamburger {
  display: block;
  padding: 15px 0px;
  background: #1259c3;
  color: white;
  max-width: 50px;
  border-radius: 8px;
  margin: auto;
  text-align: center;
  font-size: 18px;
}

article {
  margin-bottom: 10px;
  background-color: white;
  border-top: solid 1px #ebebeb;
  padding: 20px 15px 10px 15px;
}
article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.nav-bar ul {
  display: none;
}

.fa-search {
  margin-left: 5px;
}

.pie {
  font-size: 16px;
  margin: 15px;
}

.titulos-pie {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.texto-pie {
  font-size: 14px;
  margin: 0;
}
.nav-bar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 15px 0;
  font-size: 17px;
  font-weight: 600;
}
.precioydescuento {
  display: flex;
}
main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

@media (min-width: 768px) {
  main {
    margin-top: 205px;
  }
  .productos {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .productos article {
    width: 40%;
    margin: 10px;
  }
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 250px;
    flex-grow: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .compra-cuotas {
    text-align: right;
    font-weight: normal;
  }

  .descripciones {
    display: block;
  }

  .hamburger {
    display: none;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .nav-bar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-bar li {
    margin: 0 5px;
  }
}
@media (min-width: 1200px) {
  main {
    max-width: 1200px;
    margin-top: 250px;
  }
  .productos {
    flex-wrap: nowrap;
  }
  .logo {
    width: 300px;
  }
  .header,
  .nav-bar {
    max-width: 1200px;
    margin: auto;
  }
  .nav-bar li {
    margin: 0 15px;
  }

  .nav-bar a {
    font-size: 18px;
  }
  .compra-cuotas {
    font-weight: 500;
  }
  .nav-bar {
    margin-top: 20px;
  }
  .titulares {
    margin: 35px 0;
  }
  .pie-iconos {
    display: flex;
    justify-content: space-evenly;
  }
  .iconos-footer {
    font-size: 5em;
  }
  .iconos-footer:hover {
    color: #39b54a;
  }
}
